*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: burlywood;
}

main
{
    background-color:bisque;
    border-radius: 50px;
}

h1
{
    color: brown;
}