*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: burlywood;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color:blanchedalmond;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-radius: 5px;

}


.logo{
    padding-left: 28%;
}

.letralogo{
    
    margin: 10 0;
    text-align: center;
    color: rgb(75, 15, 0)
}
.form label{
    color: rgb(75, 15, 0);
    font-size: 20px;
    text-align: center;
}

.input{
    width: 100%;
    height: 40px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.botao{
    width: 100%;
    height: 40px;
    background-color: burlywood;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    font-size: 20px;
    font-size: bold;
}

.resultado{
    background-color: rgb(135, 75, 15);
    max-width: 520px;
    padding: 15px 15px;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid #350114;
    transition: transform 0.5s;

}

.hide{
    display: none;
}

.resultado span{
    color: #ffff;
    margin-bottom: 8px;
}

.resultado:hover{   
    transform: scale(1.1);
    
}
#textoresultado{
    font-size: 24px;
    font-weight: bold;
}

.infodiv{
    position: fixed;
    
    right: 8px;
    bottom: 20px;
}
.info{
   width: 63px;
   height: 63px;
}

.infoimg{
    background-color: #350114;
    color:wheat;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
    bottom: 30px;
    border:0;
    display: none;
}

.infodiv:hover .infoimg{

    display: inline;
}
