*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: burlywood;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color:blanchedalmond;
    max-width: 750px;
    justify-content: center;
    align-items: center;
    padding: 10 14px;
    border-radius: 5px;
    margin-top: 100px;
}


.logo{
    padding-left: 28%;
}

.letralogo{
    
    margin: 10 0;
    text-align: center;
    color: rgb(75, 15, 0)
}
.form label{
    color: rgb(75, 15, 0);
    font-size: 20px;
    text-align: center;
}

.input{
    width: 100%;
    height: 40px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.botao{
    width: 100%;
    height: 40px;
    background-color: burlywood;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    font-size: 20px;
    font-size: bold;
}

.resultado{
    background-color: #00b63e;
    max-width: 520px;
    padding: 15px 15px;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid #350114;
    transition: transform 0.5s;

}
.resultado span{
    color: #ffff;
    margin-bottom: 8px;
}

.resultado:hover{   
    transform: scale(1.1);
    
}
#textoresultado{
    font-size: 24px;
    font-weight: bold;
}

.info{
    transition: transform 0.6s;
    margin-left: 500px; 
    right: 100px;
    top: 250px;
}

.info:hover
{
    transform:scale(1.1);
}